<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NetOffice.Core.Net45" version="1.7.4.4" targetFramework="net48" />
  <package id="NetOffice.Outlook.Net45" version="1.7.4.4" targetFramework="net48" />
  <package id="TimeZoneConverter" version="3.2.0" targetFramework="net48" />
</packages>